<section id="testimonial" class="alizarin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center">
                    <h2>{{testimonials_title}}</h2>
                    <p>{{testimonials_subtitle}}</p>
                </div>
                <div class="gap"></div>
                <div class="row">
                    {{@foreach}}("testimonials",2)
                    <div class="col-md-6">
                        {{#chunk}}
                        <blockquote>
                            <p>{{text}}</p>
                            <small>{{details}}</small>
                        </blockquote>
                        {{/chunk}}
                    </div>
                    {{/foreach}}
                </div>
            </div>
        </div>
    </div>
</section><!--/#testimonial-->