{{<layouts/flat.html}}

{{$main_content}}
    <section class="container">
        {{>layouts/partials/what-we-do.html}}
        {{>layouts/partials/contact-us.html}}
        {{>layouts/partials/aboutus.html}}
        {{>layouts/partials/meet-the-team.html}}
        {{>layouts/partials/faq.html}}
        {{>layouts/partials/privacy-policy.html}}
        {{>layouts/partials/career.html}}
        {{>layouts/partials/blog-item.html}}
        {{>layouts/partials/portfolio.html}}
    </section>
{{/main_content}}

{{/layouts/flat.html}}
