{{<layouts/flat.html}}

{{$main_content}}
<section class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="blog">
                <div class="blog-item">
                    <div class="blog-content">
                        <h3>Request Information</h3>
                        {{>layouts/partials/info_table.html}}
                    </div>
                </div><!--/.blog-item-->
            </div>
        </div><!--/.col-md-8-->
    </div><!--/.row-->
</section>
{{/main_content}}

{{/layouts/flat.html}}
